---
let year = new Date().getFullYear();
---

<footer class="bg-blue-200">
  <p>&copy;Copyright ISAG@KMITL {year}</p>
  <p>
    Made by <a href="https://github.com/kittonn">k1tt0n</a> & <a
      href="https://github.com/1tpp">1tpp</a>
  </p>
</footer>
