---
import HeaderLink from "./HeaderLink.astro";

const navLinks = [
  {
    name: "Home",
    href: "/",
    icon: "fa-solid fa-house-chimney",
  },
  {
    name: "About",
    href: "/about",
    icon: "fa-solid fa-users",
  },
];
---

<header>
  <div class="w-7">
    <a href="/" rel="prefetch"
      ><img src="/static/logo.png" class="w-full" alt="" />
    </a>
  </div>
  <div>
    {
      navLinks.map((link) => (
        <HeaderLink href={link.href}>
          <i class={link.icon} />
        </HeaderLink>
      ))
    }
  </div>
  <div><i class="fa-solid fa-sun"></i></div>
</header>
