---

---

<header
  class="bg-green-200 min-h-screen fixed p-3 flex flex-col justify-between text-center"
>
  <div class="w-7 mx-auto">
    <img src="logo.png" class="w-full" alt="" />
  </div>
  <div>
    <a href="/" class="nav-icon"><i class="fa-solid fa-house-chimney"></i></a>
    <a href="/about" class="nav-icon"><i class="fa-solid fa-users"></i></a>
  </div>
  <div class="nav-icon"><i class="fa-solid fa-sun"></i></div>
</header>
