---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  rel="prefetch"
  class:list={[className, { active: isActive }]}
  {...props}
>
  <slot />
</a>

<style>
  a.active {
    fill: #D8D8D8;
  }
  a {
    fill: #8A8A8A;
  }
</style>
