---
import HeaderLink from "./HeaderLink.astro";

const navLinks = [
  {
    name: "Home",
    href: "/",
    path: "/static/icon/icon-house.svg",
  },
  {
    name: "About",
    href: "/about",
    path: "/static/icon/icon-users.svg",
  },
];
---

<header
  class="bg-green-200 min-h-screen fixed flex flex-col justify-between p-3 text-center"
>
  <div class="w-7 mx-auto">
    <a href="/" rel="prefetch"
      ><img src="/static/logo.png" class="w-full" alt="" />
    </a>
  </div>
  <div>
    {
      navLinks.map((link) => (
        <HeaderLink href={link.href}>
          <img src={link.path} alt="" />
        </HeaderLink>
      ))
    }
  </div>
  <div class="nav-icon"><img src="/static/icon/icon-sun.svg" alt="" /></div>
</header>
