---
import Header from "@components/Header.astro";
import RightBar from "@components/RightBar.svelte";

const tags = [
  ...new Set(
    (await Astro.glob("../pages/blog/*.{md,mdx}")).map((tag) => tag.frontmatter.tag)
  ),
];
---

<body class="flex flex-row min-h-screen bg-[#373535]">
  <div class="basis-1/6">
    <Header />
  </div>
  <div class="basis-1/2 flex-1 p-8 max-w-[800px] mx-auto">
    <slot />
  </div>
  <div class="basis-1/4">
    <RightBar tags={tags} />
  </div>
</body>
