---
import Header from "@components/Header.astro";
import RightBar from "@components/RightBar.astro";
---

<body>
  <div>
    <Header />
  </div>
  <div>
    <slot />
  </div>
  <div>
    <RightBar />
  </div>
</body>
