---
import Header from "@components/Header.astro";
import RightBar from "@components/RightBar.svelte";

const tags = [
  ...new Set(
    (await Astro.glob("../pages/blog/*.{md,mdx}")).map(
      (tag) => tag.frontmatter.tag
    )
  ),
];
---

<body class="flex flex-col lg:flex-row min-h-screen bg-[#373535]">
  <div class="lg:basis-1/6 order-last lg:order-first">
    <Header />
  </div>
  <div class="lg:basis-1/2 flex-1 p-5 lg:p-8 lg:max-w-[800px] lg:mx-auto">
    <slot />
  </div>
  <div class="lg:basis-1/4 hidden lg:block lg:order-last">
    <RightBar tags={tags} />
  </div>
</body>
